* {
  margin: 0;
  padding: 0;
  box-sizing: 0;

  /* Chamando a fonte */
  font-family: "Ubuntu";
  font-size: 0, 75rem;

  /* Bordas View */
  border: solid 1px #ffffff;

  /* Cursor */
  cursor: cell;
}

.container-pai {
  width: 500px;
  height: 200px;

  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: solid 1px #ffffff;
}

.container-button {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas iguais */
  grid-template-rows: repeat(2, auto); /* 2 linhas */
  gap: 10px; /* Espaçamento entre os botões */
  max-width: 300px; /* opcional para limitar a largura */
  margin: 0 auto; /* centralizar o container */
}

.btn {
  cursor: pointer;
  width: 90px;
  width: 85px;
  padding: 3px;
  gap: 10%;
  border-radius: 3px;
  border: solid 1px #000;
}

.cabecalho {
  display: flex;
  font-size: medium;
  flex-direction: row;
  align-items: center;
  text-align: justify;
  justify-content: center;
  width: 100%;
  height: 30%;
}

.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  justify-content: center;
  width: 99%;
  margin-top: 10px;
}

.rodape a {
  cursor: pointer;
}

.input-text {
  border-radius: 5px;
  border: solid 1px #000;
  cursor: pointer;
  width: 50%;
  height: 20%;
}

.result {
  border: solid 1px #000;
  width: 50%;
  height: 70%;
  border-radius: 5px;
  border-color: #000;
  color: gray;
}
