* {
  margin: 0;
  padding: 0;
  box-sizing: 0;

  /* Chamando a fonte */
  font-family: "Ubuntu";
  font-size: 0, 75rem;

  /* Bordas View */
  border: solid 1px #ffffff;

  /* Cursor */
  cursor: cell;
}

.container-pai {
  width: 250px;
  height: 200px;

  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: solid 1px #ffffff;
}

.container-button {
  width: 190px;
  padding: 5px;
  /* Flexbox */
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.btn {
  cursor: pointer;
<<<<<<< HEAD
  width: 90px;
=======
  width: 85px;
>>>>>>> 1f9eac59c3096159c451d084d6f2b7874a1aa38d
  padding: 3px;
  border-radius: 3px;
  border: solid 1px #000;
}

.cabecalho {
  display: flex;
<<<<<<< HEAD
  font-size: medium;
  flex-direction: row;
  align-items: center;
  text-align: justify;
  justify-content: center;
  width: 100%;
=======
  flex-direction: column;
  align-items: center;
  text-align: justify;
  justify-content: center;
  width: 99%;
>>>>>>> 1f9eac59c3096159c451d084d6f2b7874a1aa38d
  height: 30%;
}

.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  justify-content: center;
  width: 99%;
  margin-top: 10px;
}

.rodape a {
  cursor: pointer;
}

.input-text {
  border: solid 1px #000;
<<<<<<< HEAD
  cursor: pointer;
=======
>>>>>>> 1f9eac59c3096159c451d084d6f2b7874a1aa38d
}

.result {
  border: solid 1px #000;
  width: 71.7%;
  height: 50%;
<<<<<<< HEAD
  border-radius: 5px;
  border-color: #000;
  color: gray;
=======
>>>>>>> 1f9eac59c3096159c451d084d6f2b7874a1aa38d
}
